* {
  margin-top: 0;
}

html {
  background: skyblue;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

h1 {
  font-family: "Raleway", monospace;
  font-weight: normal;

}

.bigcontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard {
  width: 30em;
  min-height: 15em;
  text-align: center;
  display: inline;
  padding: 2em;
  background: rgba(255,255,255,0.5);
  border: 5px solid rgba(0,100,255,0.5);
  border-radius: 2em;
}

#unitSelector {
  font-variant: small-caps;
}

#iconContainer {
  height: 6em;
}

.weatherIcon {
  height: 6em;
  position: absolute;
  transform: translate(-3em, -0.5em);
}

